.idea
docker-compose.*.yaml
/vendor/
/shop-service.exe
/shop-service
shop-service
/repository/*.test
/storage/*.test
.vscode
coverage.out
/.env
.DS_Store
!/.note
example
go.mod
go.sum
/app
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
